mixin recipe-list-card(title, yield, time, image, diet, ingredients, preparation, source)
  .card
    img.card-img-top(src=`${image}`, alt="recipe title")
    if diet
      .card-header
        | Yield: #{yield}
        i.material-icons star
        | Time: #{time}
        i.material-icons star
        | Diet Friendly? Yes
    else
      .card-header
        | Yield: #{yield}
        i.material-icons star
        | Time: #{time}
        i.material-icons star
        | Diet Friendly? No
    .card-body
      h2.card-title
        a(src=`${source}`, target="_blank") #{title}
      p.ingredients #{ingredients}
      p.preparation #{preparation}
