mixin recipe-list-card(title, yields, time, image, diet, ingredients, preparation, source, recipeId)
  .card(id=`${recipeId}`)
    img.card-img-top(src=`${image}`, alt="recipe title")
    
    .card-header.text-center
      h2.card-title
        a(href=`recipe-detail.html?${recipeId}`) #{title}
      span.font-italic Yield:
      |  #{yields}
      i.material-icons star
      span.font-italic Time:
      |  #{time}
      i.material-icons star
      if diet === 'true'
        span.font-italic Diet Friendly?
        |  Yes
      else
        span.font-italic Diet Friendly?
        |  No
      a.ftg-link.text-right(href=`${source}`, target="_blank") source

    .card-body
      h3 Ingredients
      .ingredients #{ingredients}
      h3 Preparation
      .preparation #{preparation}
